.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  
  background-color: bisque;
}

body {
  margin: 0px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;  
  list-style: none;
  gap: 15px;

  font-size: 24px;
  margin-right: 10px;
  font-family: 'EB Garamond', serif;
}
/*****font styless*****/
.nav-links a {
  text-decoration: none;
  color: black;
}

.title-container {
  background-image: url("/assets/images/spabg.jpg");
  background-size: cover;
}

.title-container h1 {
  padding: 50px 50px 10px 50px;
  color: ghostwhite;
}

.title-container h2 {
  color: ghostwhite;
    padding: 0px 50px 50px 50px;
}

.card-layout1,
.card-layout2 {
  display: flex;
  gap: 10px;
  margin: 10px;
}
.card1,
.card4 {
  background-color: #db9b98;
}
.card2 ,
.card5 {
  background-color: #edd39c;
}
.card3 ,
.card6 {
  background-color: #aaaf98;
}
.massage ,
.medical ,
.laser,
.esthetics,
.micro,
.body {
  height: 125px;
    width: 125px;
}
.card1-btn a, 
.card2-btn a,
.card3-btn a,
.card4-btn a,
.card5-btn a,
.card6-btn a{
  text-decoration: none;
 color: black;
}
.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
width: 33%;
text-align: center;
padding: 10px;
}